html {
  height: 100%;
  body {
    height: 100%;
    nav {
      div {
        ul {
          li {
            img {
              width:110px;
              margin: 15px 0 0 10px;
            }
          }
        }
      }
    }
  }
}

.category {
  padding: 0;
}

.sidebarPos {
  position: relative;
  height: auto;
}

.absoluteNav {
  position: absolute !important;
  min-width: 200px;
}

.sectionNav {
  margin-left: 15px;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    transform: translateX(0%);
  }
}
